body { /* help with responsive formatting of bg img obtained from https://www.webfx.com/blog/web-design/responsive-background-image/ */
  font-family: 'Special Elite', cursive;
  background-image: url(../img/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 15px 15px 15px 15px;
}

@media only screen and (max-width:767px) {
  body {
    background-image: url(../img/forest-mobile.jpg);
  }
}

@media only screen and (min-width:768px) {
  #image {
    width: 400px;
    height: auto;
    float: right;
  }
}

#title {
  font-family: 'Merriweather', sans-serif;
}

#image {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

#card-1, #card-2 {
  background-color: #a87949;
  box-shadow: inset 0 0 10px #382418;
  padding: 25px;
  box-sizing: border-box;
  border-collapse: separate;
  border-radius: 5px;
}
